
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(238, 238, 194);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
header a:hover {
    color: rgb(255, 0, 0);
}

header .logo a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo a img:first-child{
    width: 30px;
    height: 40px;
    padding-top: 5px;
    padding-left: 10px;
}

header .logo a img:nth-of-type(2) {
    width: 63px;
    height: 85px;
    padding-left: 10px;
    padding-right: 5px;
}

header .categorias {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header .pesquisar {
    width: 10%;
    padding-right: 10px;
}

header .pesquisar input {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    background-color: rgb(243, 243, 213);
    margin-top: 90px;
}

main .imagem-principal {
    padding: 10px;
    background-color: rgb(238, 238, 194);
    box-shadow: 0px 0px 7px rgba(255, 212, 120, 0.424);
    margin-bottom: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main .imagem-principal img {
    width: 900px;
}

main .receitas-rapidas, .receitas-caseiras, .receitas-fitness, .receitas-internacionais, .receitas-iniciantes {
    width: 90%;
    background-color: rgb(238, 238, 194);
    padding: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 7px rgba(255, 212, 120, 0.507);
}

main .receitas-rapidas a:first-child, .receitas-caseiras a:first-child, .receitas-fitness a:first-child, .receitas-internacionais a:first-child, .receitas-iniciantes a:first-child {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

main .receitas-rapidas a, .receitas-caseiras a, .receitas-fitness a, .receitas-internacionais a, .receitas-iniciantes a {
    text-decoration: none;
    color: black;
    font-size: 35px;
    letter-spacing: 2px;
}

main a:hover {
    color: rgb(253, 80, 80);
}

main img:hover {
    transform: scale(1.05);
}

main .pais {
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
}

main .pais:hover {
    color: rgb(255, 119, 56);
}

main .receitas-rapidas p, .receitas-caseiras p, .receitas-fitness p, .receitas-internacionais p, .receitas-iniciantes p, .adicionar-receitas p{
    font-size: 15px;
}

main .receitas-rapidas img, .receitas-caseiras img, .receitas-fitness img, .receitas-internacionais img, .receitas-iniciantes img {
    width: 300px;
    border-radius: 10px;
}

main .receitas-rapidas .receitas-rapidas-grade, .receitas-caseiras .receitas-caseiras-grade, .receitas-fitness .receitas-fitness-grade, 
.receitas-internacionais .receitas-internacionais-grade,.receitas-iniciantes .receitas-iniciantes-grade {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-radius: 10px;
}

main .adicionar-receitas{
    display: flex;
    align-items: center;
    background: rgb(238, 238, 194);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}


main .adicionar-receitas form {
    width: 98%;
}

main label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

main .adicionar-receitas input::placeholder, textarea::placeholder {
    color: rgba(0, 0, 0, 0.192);
}

main .adicionar-receitas select {
    color: rgba(0, 0, 0, 0.192);
}

main input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f2d389;
    border-radius: 5px;
    font-size: 14px;
}

main .adicionar-receitas button {
    width: 170px;
    height: 50px;
    margin-top: 10px;
    background-color: #f2d389;
    border: 0px;
    border-radius: 10px;
}

main .adicionar-receitas button:hover {
    opacity: 0.8;
    color :rgb(238, 238, 194);
}

footer {
    padding: 50px !important;
    background-color: rgb(192, 191, 191) !important;
}

footer .footer-div {
    display: flex !important;
    align-items: center!important;
    justify-content: space-around !important;
    align-items: baseline !important;
}

footer .sobre a {
    display: flex !important;
    justify-content: baseline !important;
    text-decoration: none !important; 
    color: black !important;   
}

footer .copyright p{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px !important;
    opacity: 0.5 !important;
    font-size: 12px !important;
}
