body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: 2px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    background-color: rgb(238, 238, 194);
}

header a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
header a:hover {
    color: rgb(255, 0, 0);
}

header .logo img{
    padding-left: 20px;
    width: 55px;
    height: 75px;
}

header .categorias {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

header .pesquisar {
    display: flex;
    align-items: center;
    width: 10%;
    padding-right: 30px;
    justify-content: space-between;
}

header .pesquisar p {
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.144);
    padding-right: 30px;
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    border-color: rgb(0, 0, 0);
}

header .pesquisar img{
    width: 25px;
    height: 28px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    padding: 15px;
    background-color: rgb(243, 243, 213);
}

main .imagem-principal {
    padding: 10px;
    background-color: rgb(238, 238, 194);
    box-shadow: 0px 0px 7px rgba(255, 212, 120, 0.424);
    margin-bottom: 35px;
}

main .imagem-principal img {
    width: 900px;
}

main .receitas-rapidas, .receitas-caseiras, .receitas-fitness, .receitas-internacionais, .receitas-iniciantes {
    width: 90%;
    background-color: rgb(238, 238, 194);
    padding: 10px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 7px rgba(255, 212, 120, 0.424);
}

main .receitas-rapidas a, .receitas-caseiras a, .receitas-fitness a, .receitas-internacionais a, .receitas-iniciantes a {
    text-decoration: none;
    color: black;
    font-size: 35px;
}

main a:hover {
    color: rgb(253, 80, 80);
}

main img:hover {
    transform: scale(1.05);
}

main .pais {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

main .receitas-rapidas p, .receitas-caseiras p, .receitas-fitness p, .receitas-internacionais p, .receitas-iniciantes p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

main .receitas-rapidas img, .receitas-caseiras img, .receitas-fitness img, .receitas-internacionais img, .receitas-iniciantes img {
    width: 300px;
}

main .receitas-rapidas .receitas-rapidas-grade, .receitas-caseiras .receitas-caseiras-grade, .receitas-fitness .receitas-fitness-grade, 
.receitas-internacionais .receitas-internacionais-grade,.receitas-iniciantes .receitas-iniciantes-grade {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

main form {
    background: rgb(238, 238, 194);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
}

main label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

main input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #f2d389;
    border-radius: 5px;
    font-size: 14px;
}

main button:hover {
    opacity: 0.8;
    color :rgb(238, 238, 194);
    
}

footer {
    padding: 50px !important;
    background-color: rgb(192, 191, 191) !important;
}

footer .footer-div {
    display: flex !important;
    align-items: center!important;
    justify-content: space-around !important;
    align-items: baseline !important;
}

footer .sobre a {
    display: flex !important;
    justify-content: baseline !important;
    text-decoration: none !important; 
    color: black !important;   
}

footer .copyright p{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding-top: 10px !important;
    opacity: 0.5 !important;
    font-size: 12px !important;
}
